*
!.github/
!.github/**
!documentation/
!documentation/**
!INV-Frontend/
!INV-Frontend/**
!.vscode
!.vscode/**
!k8s/
!k8s/**!.dockerconfigjson**
!scripts/
!scripts/**
!server/
!server/**!target/**
!**.env
!.gitignore
!docker-compose.yml
!dockerfile
!LICENSE
!makefile
!nginx.conf
!README.Docker.md
!README.md
!entrypoint.sh
